body, html {
    background-image: url(images/slytherin\ empty.png);
    background-color: #cccccc;
    background-size: cover;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* //image by https://www.artstation.com/jackiefletcher */

.content {
    background-color: white;
    position: fixed;
    width: 1440px;
    top: 0%;
    left: 0%;
    padding-bottom: 1rem;
    padding-top: 1rem;
    /* transform: translate(-50%, -50%); */
}

.paragraph1 {
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
    text-align: center;
}


.button1 {
    text-align: center;
    border: none;
    width: 250px;
    padding-left: 2rem;
    padding: 1rem;
    margin: 3%;
    position: fixed;
    top: 10%;
    left: 0%;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1:hover {
    background-color: black;
    color: white;
}   

.button2 {
    text-align: center;
    border: none;
    width: 250px;
    padding: 1rem;
    margin: 3%;
    position: fixed;
    top: 10%;
    left: 60%;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button2:hover {
    background-color: black;
    color: white;
}   

.button3 {
    text-align: center;
    border: none;
    width: 250px;
    padding: 1rem;
    margin: 3%;
    position: fixed;
    top: 10%;
    left: 40%;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button3:hover {
    background-color: black;
    color: white;
}   

.button4 {
    text-align: center;
    border: none;
    width: 250px;
    padding: 1rem;
    margin: 3%;
    position: fixed;
    top: 10%;
    left: 20%;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button4:hover {
    background-color: black;
    color: white;
}   

.button5 {
    text-align: center;
    border: none;
    width: 200px;
    padding: 1rem;
    margin: 3%;
    position: fixed;
    top: 40%;
    left: 80%;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button5:hover {
    background-color: black;
    color: white;
}   

.draco-image {
    width: 500px;
    height: 500px;
    position: fixed;
    bottom: 0%;
    /* top: 60%; */
    left: 55%;
    cursor: pointer;
}

.gift-image {
    width: 90px;
    height: 90px;
    position: absolute;
    bottom: 25%;
    /* top: 60%; */
    left: 29%;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

/* .modal.active {
    transform: translate(-50%, -50%) scale(1);
} */

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .header {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

.container {
    background-color: white;
    bottom: 0%;
    left: 0%;
    position: fixed;
    width: 300px;
    padding: 1rem;
}

.box {
    padding-inline-start: 2rem;
}

.wand-image2 {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 20%;
    /* top: 60%; */
    left: 48%;
    cursor: pointer;
}

.book-image2 {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 20%;
    /* top: 60%; */
    left: 30%;
    cursor: pointer;
}

.cape-image2 {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 20%;
    /* top: 60%; */
    left: 66%;
    cursor: pointer;
}

.gift-image2 {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 20%;
    /* top: 60%; */
    left: 80%;
    cursor: pointer;
}
