body, html {
    background-image: url(images/ravenclaw\ empty.png);
    background-color: #cccccc;
    background-size: cover;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.paragraph1 {
    background-color: white;
    padding: 2rem;
    text-align: center;
    position: relative;
    /* bottom: -60px; */
    top: 34px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button1 {
    text-align: center;
    border: none;
    width: 250px;
    padding-left: 2rem;
    padding: 1rem;
    margin: 3%;
    position: center;
    top: 170%;
    left: 40%;
    transition-duration: 0.4s;
}

.button1:hover {
    background-color: black;
    color: white;
}   

.button2 {
    text-align: center;
    border: none;
    width: 250px;
    padding: 1rem;
    margin: 3%;
    position: center;
    top: 170%;
    left: 40%;
    transition-duration: 0.4s;
}

.button2:hover {
    background-color: black;
    color: white;
}   

.button3 {
    text-align: center;
    border: none;
    width: 250px;
    padding: 1rem;
    margin: 3%;
    position: center;
    top: 170%;
    left: 40%;
    transition-duration: 0.4s;
}

.button3:hover {
    background-color: black;
    color: white;
}   

.button4 {
    text-align: center;
    border: none;
    width: 250px;
    padding: 1rem;
    margin: 3%;
    position: center;
    top: 170%;
    left: 40%;
    transition-duration: 0.4s;
}

.button4:hover {
    background-color: black;
    color: white;
}   

.luna-image {
    width: 500px;
    height: 500px;
    position: fixed;
    bottom: 0%;
    /* top: 60%; */
    left: 15%;
}

.speech-bubble1 {
    width: 300px;
    height: 300px;
    position: fixed;
    bottom: 30%;
    /* top: 60%; */
    left: 40%;
}